div[class^='profileEffects'] {
    display: none;
}

svg[class^='avatarDecoration'] {
    display: none;
}

img[class^='avatarDecoration'] {
    display: none;
}

/* https://ukriu.github.io/cssCord/Other/noSuperReactions.css */
[class*="reaction"][class*="reactionMe"] {background-color: var(--message-reacted-background-default) !important; border-color: var(--blurple-50) !important;}
[class*="reactionCount"] {color: var(--interactive-text-default) !important;}
[class*="effectsWrapper"] {display: none;}
[class*="burstGlow"], [class$="-reaction"], .full-motion [class*="reaction"][class*="shakeReaction"] {
    box-shadow: none !important; 
    background: var(--background-surface-high) !important;
    animation: none !important;
    animation-iteration-count: 0 !important;
}
[class*="hideEmoji"] {opacity: 1;}
