/* https://discord.com/channels/1015060230222131221/1028106818368589824/1371104256496631829 */
/* remove gradient glow in chat and user list */
.threeColorGradient_e5de78,
.twoColorGradient_e5de78 {
  &.usernameGradient_e5de78 {
    color: color-mix(in lab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
    background: none;
    -webkit-text-fill-color: initial;
  }

  &::after,
  &.nameGlow__703b9 {
      display: none;
  }
}
