/* https://discord.com/channels/1015060230222131221/1028106818368589824/1371104256496631829 */
/* remove gradient glow in chat and user list */
.e5de7811b2777bfa-threeColorGradient,
.e5de7811b2777bfa-twoColorGradient {
  &.e5de7811b2777bfa-usernameGradient {
    color: color-mix(in lab, var(--custom-gradient-color-1), var(--custom-gradient-color-2));
    background: none;
    -webkit-text-fill-color: initial;
  }

  &::after,
  &._703b91fc872193e8-nameGlow {
      display: none;
  }
}
