div:has(> div > video[src*="cdn.discordapp.com/media/v1/collectibles-shop"]) {
  display: none !important;
}

/* https://discord.com/channels/1015060230222131221/1028106818368589824/1364374785899106326 */
[class*="chipletContainerInner"]:has([src*="/clan-badges/"]) { 
    display: none; 
}
